body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
  background-color: #002635;
  margin: 0;
  color: rgb(194, 194, 194);
}

header {
  display: flex;
  place-items: center;
  justify-content: space-between;
  position: sticky;
  top: 0;
  background-color: #008892;
  padding: 0.4em 0.8em;
  box-shadow: 0px 1px 9px 2px #15177cc0;
  z-index: 2;
}

header a {
  color: white;
}

a {
  text-decoration: none;
}

/* Home */

#overview {
  display: grid;
  grid-template-columns: 5fr 3fr;
  place-items: center;
  margin-bottom: 0.6em;
  text-align: center;
}

h1 {
  font-size: 5em;
  margin: 0;
  color: rgb(243, 243, 243);
}

#profit {
  display: flex;
  justify-content: space-evenly;
  font-size: 1.4em;
}

button {
  outline: none;
  border: none;
}

main {
  padding: 1em;
}

table {
  border-collapse: collapse;
  width: 100%;
}

tr {
  border-bottom: 1px solid #29353a;
}

tbody tr:nth-child(odd) {
  background-color: #002a3b;
}

th {
  white-space: nowrap;
  cursor: pointer;
}

.th-sort-asc::after {
  content: "\25b4";
}

.th-sort-desc::after {
  content: "\25be";
}

.th-sort-asc::after, .th-sort-desc::after {
  margin-left: 5px;
}

td, th {
  padding: 0.5em 0.4em;
  text-align: right;
}

td:first-child, th:first-child {
  text-align: left;
}

td > div {
  display: inline-flex;
  place-items: center;
}

td img {
  padding-right: 1em;
}

.positive {
  color: rgb(75, 216, 75);
}

.negative {
  color: rgb(255, 71, 71);
}

/* Add Transaction */

#addTransaction {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-column-gap: 2em;
  grid-row-gap: 0.7em
}

#addTransaction input, #txForm select {
  margin-top: 0.2em;
  background-color: #008b92e7;
  border: none;
  padding: 0.3em;
  font-size: 0.9em;
  outline: none;
  color: rgb(233, 233, 233);
  box-shadow: 0px 0px 4px 2px #15167c;
}

#addTransaction input {
  width: 97.5%;
}

#txForm select {
  margin-bottom: 1em;
}

#addTransaction .required {
  box-shadow: 0px 0px 4px 2px #7c1515;
  background-color: #b3231ed2;
}

#buttons {
  margin-top: 1em;
  display: flex;
  gap: 2em;
}

#buttons button {
  flex: 40%;
  text-align: center;
  font-size: 1em;
  cursor: pointer;
  color: white;
  padding: 1em;
}

#addButton {
  background-color: #00a329;
  box-shadow: 0px 0px 7px 2px #004d13;
}

#resetButton {
  background-color: #a30000;
  box-shadow: 0px 0px 7px 2px #4d0000;
}

#resetButton:active {
  background-color: #800000;
}

#addButton:disabled {
  cursor: default;
  color: rgba(255, 255, 255, 0.452);
  background-color: #005f18;
}

#addTransaction input:disabled {
  color: rgba(36, 36, 36, 0.596);
  background-color: #5e5e5e;
  box-shadow: 0px 0px 4px 2px #2e2e2e;
}

#addButton:active {
  background-color: #008120;
}

#success {
  display: none;
}

.hide {
  display: none;
}

/* Settings */

main a {
  color: #00b3bd;
}

.items {
  display: flex;
  flex-wrap: wrap;
  gap: 1em;
}

.exchange {
  background-color: #008b92;
  padding: 1em;
  display: inline-flex;
  word-break: break-word;
  color: white;
  box-shadow: 0px 0px 7px 2px #15167c;
  align-items: center;
  position: relative;
  flex: 43.5%;
}

.exchange > img {
  margin-right: 1em;
}

.exchange h3 {
  margin-top: 0;
  margin-bottom: 0.7em;
}

.exchange h5 {
  font-weight: normal;
  font-size: 0.9em;
  color: rgb(202, 202, 202);
  margin-top: 0;
  margin-bottom: 0.1em;
}

.x{
  background: none;
  font-size: 2em;
  position: absolute;
  right: 2px;
  top: 1px;
  color: #002635;
  cursor: pointer;
}

button.exchange {
  display: block;
  text-align: center;
  font-size: 1em;
  background-color: #00a329;
  box-shadow: 0px 0px 7px 2px #004d13;
  cursor: pointer;
}

button.exchange:active {
  background-color: #008521;
}

dialog::backdrop {
  background-color: rgba(0, 0, 0, 0.3);
}

dialog input {
  width: 20em;
}

dialog label, #confirmBtn {
  display: block;
  margin-top: 0.5em;
}

/* #add-exchange {
  position: fixed;
  left: 50%;
  top: 50%;
  z-index: 2;
} */