body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
  background-color: #002635;
  margin: 0;
  color: rgb(194, 194, 194);
}

header {
  display: flex;
  place-items: center;
  justify-content: space-between;
  position: sticky;
  top: 0;
  background-color: #008892;
  padding: 0.4em 0.8em;
  box-shadow: 0px 1px 9px 2px #15167c;
}

header a {
  color: white;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

button {
  outline: none;
  border: none;
}

main {
  padding: 1em;
}

table {
  border-collapse: collapse;
  width: 100%;
}

tr {
  border-bottom: 1px solid #29353a;
}

tbody tr:nth-child(odd) {
  background-color: #002a3b;
}

th {
  white-space: nowrap;
}

td, th {
  padding: 0.5em 0.4em;
  text-align: right;
}

td:first-child, th:first-child {
  text-align: left;
}

td > div {
  display: inline-flex;
  place-items: center;
}

td img {
  padding-right: 1em;
}

.positive {
  color: rgb(75, 216, 75);
}

.negative {
  color: rgb(255, 71, 71);
}

#success {
  display: none;
}

/* Definitely temporary */
label {
  display: block;
  margin-top: 0.5em;
}

.required {
  border: 1px solid red;
}

.hide {
  display: none;
}

main a {
  color: #00b3bd;
}

#exchanges {
  display: flex;
  flex-wrap: wrap;
  gap: 1em;
}

.exchange {
  /*background-color: rgb(9,28,40);*/
  background-color: #008b92;
  padding: 1em;
  display: inline-flex;
  word-break: break-word;
  color: white;
  box-shadow: 0px 0px 7px 2px #15167c;
  align-items: center;
  position: relative;
  flex: 45.5%;
}

.exchange > img {
  margin-right: 1em;
}

.exchange h3 {
  margin-top: 0;
  margin-bottom: 0.7em;
}

.exchange h5 {
  font-weight: normal;
  font-size: 0.9em;
  color: rgb(202, 202, 202);
  margin-top: 0;
  margin-bottom: 0.1em;
}

.x{
  background: none;
  font-size: 2em;
  position: absolute;
  right: 2px;
  top: 1px;
  color: #002635;
  cursor: pointer;
}

button.exchange {
  display: block;
  text-align: center;
  font-size: 1em;
  background-color: #00a329;
  box-shadow: 0px 0px 7px 2px #004d13;
  cursor: pointer;
}

button.exchange:active {
  background-color: #008521;
}

dialog::backdrop {
  background-color: rgba(0, 0, 0, 0.3);
}

dialog input {
  width: 20em;
}

/* #add-exchange {
  position: fixed;
  left: 50%;
  top: 50%;
  z-index: 2;
} */